.link {
  display: flex;
  gap: 12px;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s ease, border-bottom 0.25s ease;
}

.active {
  color: #38bdf8;
}
