.wrapper {
    max-width: 300px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 4px lightskyblue;
}
.label {
    display: flex;
    flex-direction: column;
}
.field {
    padding: 6px;
}
.btn {
    align-self:center;
    width:auto;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(254, 254, 132);
}
.btn:hover {
    background-color: rgb(255, 255, 0);
}
.error {
    font-size: 12px;
    color: red;
}