.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  color: white;
}
.btnLogout {
  transition: color 0.25s ease;
}
.btnLogout:hover {
  color: #06b6d4;
  transform: scale(1.05);
}
